@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


h1{
    font-family: 'Kaushan Script', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main {
    background-image: url(./images/bg5.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: bisque;
}

